.car-card {
    width: 600px;
    height: 700px;
    border-radius: 1rem;
    display:  flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    --mask: 
    linear-gradient(#000 0 0) center/calc(100% - 8px) calc(100% - 8px) no-repeat,
    conic-gradient(from  135deg at top   ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /8px 4px space no-repeat,
    conic-gradient(from  -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 0 100%/8px 4px space no-repeat,
    conic-gradient(from   45deg at left  ,#0000,#000 1deg 89deg,#0000 90deg) 0 0   /4px 8px no-repeat space,
    conic-gradient(from -135deg at right ,#0000,#000 1deg 89deg,#0000 90deg) 100% 0/4px 8px no-repeat space;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}

.car-img {
    width: 550px;
    height: 300px;
    border: 4px solid #3498db; /* Set a border with a solid color */
    border-radius: 10px;       /* Rounded corners for a smooth effect */
    padding: 5px;              /* Space between the image and border */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for effects */
    margin: 2rem;
}
  
.car-img:hover {
    transform: scale(1.05);      /* Slightly enlarge the image on hover */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
  }
  
.car-info, .car-button {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0.5rem;
}

.add {
    padding: 1rem 2rem;
    color: black;
    font-size: 18px;
    background-color: rgba(70, 241, 241, 0.473);
    border: none;
    border-radius: 100%;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add:hover {
    background-color: lightgreen;
}

.description {
    width: 80%;
    text-align: left;
}

.details {
    all: unset;
    outline: none;
    font-weight: bold;
    float: right;
}

.details:hover {
    color: #185075;
}